<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mobile_robco_ros2_control">
    <ros2_control name="mobile_robco_control" type="system">
      <hardware>
        <!-- <plugin>gz_ros2_control/GazeboSimSystem</plugin> -->
        <!-- <plugin>mock_components/GenericSystem</plugin> -->
        <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
        <param name="joint_commands_topic">/isaac_joint_commands</param>
        <param name="joint_states_topic">/isaac_joint_states</param>
      </hardware>

      <!-- robco_joint_0 -->
      <joint name="robco_joint_0">
        <!-- Add a velocity command interface -->
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <!-- Keep position command interface if desired -->
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- robco_joint_1 -->
      <joint name="robco_joint_1">
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- robco_joint_2 -->
      <joint name="robco_joint_2">
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- robco_joint_3 -->
      <joint name="robco_joint_3">
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- robco_joint_4 -->
      <joint name="robco_joint_4">
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- Slider_18 -->
      
      <joint name="Slider_18">
        <command_interface name="velocity">
          <param name="min">-0.5</param>
          <param name="max">0.5</param>
        </command_interface>
        <command_interface name="position">
          <param name="min">0.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    

      <!-- Rigid_32 -->
      <!--
      <joint name="Rigid_32">
        <state_interface name="position"/>
      </joint>
      -->

      <!-- Rigid_33 -->
      <!--
      <joint name="Rigid_33">
        <state_interface name="position"/>
      </joint>
      -->

      <!-- robco_joint_5 -->
      <joint name="robco_joint_5">
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>
  </xacro:macro>

  <xacro:mobile_robco_ros2_control/>
</robot>